.container {
  padding: 50px;
}

.container .heading {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 10px 0px;
  text-align: center;
}

.container .nothing {
  text-align: center;
  padding: 20px;
  font-weight: 500;
  opacity: 0.7;
}

.container .item {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.container .item .value {
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: grid;
  align-content: center;
  text-transform: capitalize;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
}

.container .item .rejected {
  background-color: rgb(168, 59, 59);
  color: white;
}

.container .item .approved {
  background-color: rgb(36, 143, 107);
  color: white;
}

.container .item .pending {
  background-color: rgb(231, 231, 231);
}
